/ComponentArt.Web.UI.2010.1.2637.35.Fakes.dll
/ComponentArt.Web.UI.2010.1.2637.35.Fakes.fakesconfig
/ComponentArt.Web.UI.2010.1.2637.35.Fakes.messages
/ComponentArt.Web.UI.2010.1.2637.35.Fakes.xml
/HtmlAgilityPack.1.4.6.0.Fakes.dll
/HtmlAgilityPack.1.4.6.0.Fakes.fakesconfig
/HtmlAgilityPack.1.4.6.0.Fakes.messages
/HtmlAgilityPack.1.4.6.0.Fakes.xml
/ITHit.WebDAV.Server.2.1.1.108.Fakes.dll
/ITHit.WebDAV.Server.2.1.1.108.Fakes.fakesconfig
/ITHit.WebDAV.Server.2.1.1.108.Fakes.messages
/ITHit.WebDAV.Server.2.1.1.108.Fakes.xml
/Lucene.Net.3.0.3.0.Fakes.dll
/Lucene.Net.3.0.3.0.Fakes.fakesconfig
/Lucene.Net.3.0.3.0.Fakes.messages
/Lucene.Net.3.0.3.0.Fakes.xml
/Mvp.Xml.2.0.2158.1055.Fakes.dll
/Mvp.Xml.2.0.2158.1055.Fakes.fakesconfig
/Mvp.Xml.2.0.2158.1055.Fakes.messages
/Mvp.Xml.2.0.2158.1055.Fakes.xml
/Newtonsoft.Json.4.5.0.0.Fakes.dll
/Newtonsoft.Json.4.5.0.0.Fakes.fakesconfig
/Newtonsoft.Json.4.5.0.0.Fakes.messages
/Newtonsoft.Json.4.5.0.0.Fakes.xml
/RadEditor.Net2.7.2.0.0.Fakes.dll
/RadEditor.Net2.7.2.0.0.Fakes.fakesconfig
/RadEditor.Net2.7.2.0.0.Fakes.messages
/RadEditor.Net2.7.2.0.0.Fakes.xml
/Sitecore.Analytics.1.0.0.0.Fakes.dll
/Sitecore.Analytics.1.0.0.0.Fakes.fakesconfig
/Sitecore.Analytics.1.0.0.0.Fakes.messages
/Sitecore.Analytics.1.0.0.0.Fakes.xml
/Sitecore.Kernel.7.0.0.0.Fakes.dll
/Sitecore.Kernel.7.0.0.0.Fakes.fakesconfig
/Sitecore.Kernel.7.0.0.0.Fakes.messages
/Sitecore.Kernel.7.0.0.0.Fakes.xml
/Sitecore.Logging.1.2.0.30715.Fakes.dll
/Sitecore.Logging.1.2.0.30715.Fakes.fakesconfig
/Sitecore.Logging.1.2.0.30715.Fakes.messages
/Sitecore.Logging.1.2.0.30715.Fakes.xml
/Sitecore.Mvc.1.0.0.0.Fakes.dll
/Sitecore.Mvc.1.0.0.0.Fakes.fakesconfig
/Sitecore.Mvc.1.0.0.0.Fakes.messages
/Sitecore.Mvc.1.0.0.0.Fakes.xml
/Sitecore.NVelocity.0.4.2.8580.Fakes.dll
/Sitecore.NVelocity.0.4.2.8580.Fakes.fakesconfig
/Sitecore.NVelocity.0.4.2.8580.Fakes.messages
/Sitecore.NVelocity.0.4.2.8580.Fakes.xml
/Sitecore.Zip.7.0.0.0.Fakes.dll
/Sitecore.Zip.7.0.0.0.Fakes.fakesconfig
/Sitecore.Zip.7.0.0.0.Fakes.messages
/Sitecore.Zip.7.0.0.0.Fakes.xml
/Stimulsoft.Base.2009.3.600.0.Fakes.dll
/Stimulsoft.Base.2009.3.600.0.Fakes.fakesconfig
/Stimulsoft.Base.2009.3.600.0.Fakes.messages
/Stimulsoft.Base.2009.3.600.0.Fakes.xml
/Stimulsoft.Report.2009.3.600.0.Fakes.dll
/Stimulsoft.Report.2009.3.600.0.Fakes.fakesconfig
/Stimulsoft.Report.2009.3.600.0.Fakes.messages
/Stimulsoft.Report.2009.3.600.0.Fakes.xml
/Telerik.Web.UI.2012.2.607.35.Fakes.dll
/Telerik.Web.UI.2012.2.607.35.Fakes.fakesconfig
/Telerik.Web.UI.2012.2.607.35.Fakes.messages
/Telerik.Web.UI.2012.2.607.35.Fakes.xml
/sitecore.nexus.1.0.0.4404.Fakes.dll
/sitecore.nexus.1.0.0.4404.Fakes.fakesconfig
/sitecore.nexus.1.0.0.4404.Fakes.messages
/sitecore.nexus.1.0.0.4404.Fakes.xml
