<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BasicSitecoreSetupSitecore_core;User ID=DemoSites;Password=password" />
  <add name="master" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BasicSitecoreSetupSitecore_master;User ID=DemoSites;Password=password" />
  <add name="web" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BasicSitecoreSetupSitecore_web;User ID=DemoSites;Password=password" />
  <add name="analytics" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BasicSitecoreSetupSitecore_analytics;User ID=DemoSites;Password=password" />
</connectionStrings>